.header {
    position: relative;
    height: 80vh; /*at every point the height of the element will be 95% of the viewport*/
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url('/img/hero-placeholder.jpg');
    background-size: cover;
    background-position: top;
    /*top left than clockwise*/

    @supports((clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    // 192dpi = 2x screen
    // -webkit-min-device-pixel-ratio: 2 = 2x screen
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
                only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
                only screen and (min-width: 125em) {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url('/img/hero-placeholder-large.jpg');
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        /*this goes 40 from the top and left of the first parent element with a position of relative*/
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}


.header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url('/img/hero-placeholder.jpg');

    // 192dpi = 2x screen
    // -webkit-min-device-pixel-ratio: 2 = 2x screen
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url('/img/hero-placeholder-large.jpg');
    }
}